<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :city,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-city", class: "form-control" } %>
          <%= f.input :phone,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-phone", class: "form-control" } %>
          <%= f.input :password,
                      hint: "Leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password", class: "form-control" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "form-control" } %>
          <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password", class: "form-control" } %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Update", class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>

      <div class="text-center mt-4">
        <%= button_to "Delete my profile", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-lg" %>
      </div>

      <%= link_to "Back", :back, class: "btn btn-secondary btn-lg mt-3" %>
    </div>
  </div>
</div>
