<h1>Make a new Booking</h1>
<div class="container">
<%= simple_form_for [@car, @booking] do |f| %>
  <div>
    <div class="container">
      <div class="card" style="width: 18rem;">
        <% if @car.photo.attached? %>
          <%= image_tag @car.photo, class: "bd-placeholder-img card-img-top", width: "100%", height: "180" %>
        <% else %>
          <img class="bd-placeholder-img card-img-top" width="100%" height="180" src="<%= asset_path('auto.png') %>" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
        <% end %>
        <div class="card-body">
          <h5 class="card-title">Modelo: <%= @car.model %></h5>
          <p class="card-text">Marca: <%= @car.brand %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Año: <%= @car.year %></li>
          <li class="list-group-item">Costo por Día: <%= number_to_currency(@car.cost_per_day) %></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <%= f.input :booking_date_start, html5:true %>
  <%= f.input :booking_date_finish, html5:true %>
  <%= f.submit %>
<% end %>
