<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="bd-placeholder-img card-img-top" width="100%" height="180" src="<%= asset_path('blank-user.png') %>" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
    <div class="card-body">
      <h5 class="card-title"><%= @user.last_name %>, <%= @user.name %></h5>
      <p class="card-text">Username: <%= @user.user %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Age: <%= @user.age %></li>
      <li class="list-group-item">City: <%= @user.city %></li>
      <li class="list-group-item">Phone Number: <%= @user.phone %></li>
    </ul>
    <div class="card-body">
      <a href= <%= root_path %> class="card-link">Volver al Home</a>
      <a href= <%= edit_user_registration_path %> class="card-link">Edit Profile SOLO LOGEADO</a>
    </div>
  </div>
</div>
<h1><%= @user.name %>'s Cars</h1>
<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <% @cars.each do |car| %>
        <div class="col">
          <div class="card px-2">
                <% if car.photo.attached? %>
                  <%= image_tag car.photo, class: "bd-placeholder-img card-img-top", width: "100%", height: "180" %>
                <% else %>
                  <img class="bd-placeholder-img card-img-top" width="100%" height="180" src="<%= asset_path('auto.png') %>" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <% end %>
            <div class="card-body">
              <h1><%= link_to car.model, car_path(car.user) %></h1>
              <h2><%= car.brand %></h2>
              <p><%= car.year %></p>
              <p>📍 <%= car.user.city %></p>
              <p>U$S <%= car.cost_per_day %>0- p/day</p>
              <p>Owner: <%= link_to car.user.user, user_path(car.user) %></p>
              <p><%= link_to "Make a Booking", new_car_booking_path(car_id: car.id) %></p>
              <% if current_user.id == car.user_id %>
                <%= link_to "Edit", edit_car_path(car), class: "btn btn-light" %>
                <%= button_to "Delete", car_path(car), method: :delete, data: { confirm: "Are you sure you want to delete this car?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
